@font-face {
    font-family: SFProRegular;
    src: url(fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: SFProThin;
    src: url(fonts/SF-Pro-Display-Thin.otf);
}
@font-face {
    font-family: SFProUltralight;
    src: url(fonts/SF-Pro-Display-Ultralight.otf);
}

body {
    background-color: black;
    background-image: url('images/background.png');
    background-size: cover;

    color: #2CE5DF;
    font-family: 'SFProUltralight';
}

.footer{
    text-align: center;
    margin-top: 40px;
    display: none;
}

.title {
    font-size: 2.8em;
    display: block;
    text-align: center;
    margin: 60px 35px 20px 35px;
}

.subtitle {
    width: 137px;
    height: 30px;
    background-image: url(images/Redux-Edition.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-left: 50.5%;
    margin-top: -24px;
    transform: rotate(-2deg);
}

.hide-screen{
    display: none;
}

.wrap-battlefield{
    border: 2px solid #FF6A77;
    padding: 2px;
    width: 330px;
    height: 330px;
    float: left;
    margin-bottom: 15px;
    background-color: rgba(27, 31, 36, 0.49)
}

.wrap-config{
    width: 338px;
    height: 400px;
    float: left;
    margin: 10px;
}

.wrap-playerside{
    width: 330px;
    height: 400px;
    float: left;
    margin: 20px;
}

.wrap-boat{
    width: 33px;
    padding: 3px;
    float: left;
    margin: 1px;
    border: 2px solid transparent;
}

.wrap-listOfBoats{
    width: 290px;
    height: 179px;
    float: left;
    margin: 0px 0px 0px 40px;
}

.wrap-insertModes{
    float: right;
    margin-right: 39px;
    height: 128px;
}

.statusBar{
    margin: 0px 17px 17px 17px;
}

.statusMessage{
    color: #FF6A77;
    font-size: 20px;;
    display: block;
    text-align: center;
    margin: 05px 13px 20px 13px;
}

.statusButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.statusButtons .text{
    background-color: transparent;
    border: 1px solid #2CE5DF;
    padding: 8px;
    font-family: 'SFProThin';
    color: #2CE5DF;
    font-size: 18px;
    width: 130px;
    text-align: center;
    height: 39px;
    margin: 0px 15px 0px 15px;
}

.statusButtons .button{
    width: 130px;
    padding: 8px;
    font-size: 18px;
    font-family: 'SFProRegular';
    text-align: center;
    color: #17181a;
    
    margin: 0px 15px 0px 15px;
}

.start{
    border: 1px solid #FF6A77;
    background-color: #FF6A77;
}
.start:hover{
    border: 1px solid #e20014
}

.surrender{
    background: #ffffffe0;
}

::placeholder {
    color:#2CE5DF;
    opacity: 1;
}


.hitResult{
    font-size: 1.1em;
    display: block;
    text-align: center;
    margin:05px 13px 13px 13px;
}

.game-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-screen-text{
    text-align: center;
    font-size: 35px;
}

.end-screen-congratulations{
    background-image: url(images/victory.png);
    height: 125px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 80px 0px 80px 0px;
}

.end-screen-image{
    background-image: url(images/boat.png);
    height: 40px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 0px 0px 0px;
}

.battlefield-blue {
    border: 2px solid #31A4FF;
}

.battlefield-red {
    border: 2px solid #FF6A77;
}

.blue {
    color: #31A4FF;
}

.red {
    color: #FF6A77
}

.selectedBoat {
    border: 2px solid #FF6A77;
}
.selectedBoat .visible {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.35)
}

.insertMode {
    border: 2px solid transparent;
    text-align: center;
    padding: 8px 13px 8px 13px;
    margin-top: 6px;
    width: 77px;
    cursor: pointer;
}

.selectedMode{
    border: 2px solid #FF6A77;
}

.helpMessage{
    position: relative;
    margin-top: 94%;
    padding: 7px 45px 0px 0px;
    text-align: right;
    font-family: 'SFProThin';
}

/* 
    Las UnitField representan a cada lugar (cuadrado) de la grilla y cada clase (initial, 
    visible, etc) se corresponde con las condiciones o estados en que puede representar. 
*/

.unitField{
    width: 27px;
    height: 27px;
    margin: 2px;
    float: left;
}

.initial{
    border: 1px solid #2CE5DF;
    background-color: transparent;
}

.visible{
    border: 1px solid #2CE5DF;
    background-color: rgba(255, 255, 255, 0.90)
}

.water{
    border: 1px solid #2CE5DF;
    background-color: #2CE5DF;
}

.positioning{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.35)
}

.hit{
    border: 1px solid #FF6A77;
    background-color: #FF6A77;
}
.dead{
    border: 1px solid #FF9130;
    background-color: #FFC7A5;
}